<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ember TodoMVC</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>
<script type="text/x-handlebars" id="todos/index">
    <ul id="todo-list">
        {{#each itemController="todo"}}
            <li {{bind-attr class="isCompleted:completed isEditing:editing"}}>
                {{#if isEditing}}
                    {{edit-todo class="edit" value=title focus-out="acceptChanges" insert-newline="acceptChanges"}}
                {{else}}
                    {{input type="checkbox" checked=isCompleted class="toggle"}}
                    <label {{action "editTodo" on="doubleClick"}}>{{title}}</label>
                    <button {{action "removeTodo"}} class="destroy"></button>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</script>


<script type="text/x-handlebars" id="todos">
    <section id="todoapp">
        <header id="header">
            <h1>todos</h1>
            {{input id="new-todo" placeholder="What needs to be done?" value=newTitle action="createTodo"}}
        </header>


        <section id="main">
            {{outlet}}
            {{input type="checkbox" id="toggle-all" checked=allAreDone}}
        </section>


        <footer id="footer">
        <span id="todo-count">
          <strong>{{remaining}}</strong> {{inflection}} left
        </span>
            <ul id="filters">
                <li>
                    {{link-to "All" "todos.index" activeClass="selected"}}
                </li>
                <li>
                    {{link-to "Active" "todos.active" activeClass="selected"}}
                </li>
                <li>
                    {{link-to "Completed" "todos.completed" activeClass="selected"}}
                </li>
            </ul>

            {{#if hasCompleted}}
                <button id="clear-completed" {{action "clearCompleted"}}>
                    Clear completed ({{completed}})
                </button>
            {{/if}}
        </footer>
    </section>


    <footer id="info">
        <p>Double-click to edit a todo</p>
    </footer>
</script>


<script src="js/libs/jquery-1.10.2.js"></script>
<script src="js/libs/handlebars-1.1.2.js"></script>
<script src="js/libs/ember-1.7.0.js"></script>
<script src="js/libs/ember-data.prod.js"></script>
<script src="js/libs/localstorage_adapter.js"></script>

<script src="js/application.js"></script>
<script src="js/router.js"></script>
<script src="js/models/todo.js"></script>
<script src="js/controllers/todos_controller.js"></script>
<script src="js/controllers/todo_controller.js"></script>
<script src="js/views/edit_todo_view.js"></script>
</body>
</html>